<!DOCTYPE html>
<html ng-app ng-csp>
<head>
    <meta charset="utf-8">
    <title>Auto XML Generator</title>
    <script src="angular.js"></script>
    <script src="jquery-1.11.1.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" type="text/css" href="angular-csp.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style>
		body {
			padding: 10px;
		}
		.no-border-table>tbody>tr>th, .no-border-table>tbody>tr>td {
			border-top: none;
		}
		.setting-table th {
			width: 60px;
		}
		.table-anime-list th {
			
		}
	</style>
	
</head>
<body ng-controller="MainController">
	<div>
		<div class="form-group">
			<label>URL</label>
			<input class="form-control" type="text" ng-model="searchResultUrl" size="30"/>
		</div>
		<div class="form-group">
			<input class="btn btn-default btn-sm" type="button" ng-click="getHTMLData()" value="更新"/>
			<input class="btn btn-default btn-sm" type="button" ng-click="selectStoragePath()" value="保存位置设置"/>
			<input class="btn btn-default btn-sm" type="button" ng-click="toggleSetting() || save()" value="设置"/>
		</div>
	</div>
	<table class="table setting-table" ng-show="settingShow">
		<tbody>
			<tr>
				<th>时间</th>
				<td><input type="text" class="form-control" ng-model="animeFilters.time" ng-required="true" ng-pattern="/^[0-9]{1,2}$/"/></td>
			</tr>
			<tr>
				<th>动画</th>
				<td>
					<table class="table no-border-table">
						<tbody>
							<tr ng-repeat="rule in animeFilters.rules track by $index">
								<td>
									<div class="input-group">
										<input type="text" class="form-control" ng-model="animeFilters.rules[$index]" placeholder="正则表达式"/>
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="deleteRule($index)">☓</button>
										</span>
									</div>
								</td>
							</tr>
							<tr>
								<td><input class="btn btn-default" type="button" ng-click="addRule()" value="新建"/></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-anime-list">
		<tbody>
			<tr ng-repeat="anime in animes">
				<td class="col-sm-2">{{anime.publishTime}}</td>
				<td class="col-sm-8">{{anime.title}}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>